In [1]:
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.express as px

import os
import os
import sys

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings

warnings.filterwarnings("ignore")
import plotly.express as px

In [2]:
df = pd.read_excel(r'C:\Users\TPWODL\New folder_Content\Twitter_X_Flow_Prediction_Tp\data\raw\twitter_x_data.xlsx')
dataset_path = r'C:\Users\TPWODL\New folder_Content\Twitter_X_Flow_Prediction_Tp\data\raw\twitter_x_data.xlsx'

In [3]:
df.shape

(32491, 23)

In [4]:
df.columns

Index(['SL.NO', 'DATE', 'SHIFT DUTY', 'QUERY/REQUEST/COMPLAINT',
       'COMPLAINT DETAILS', 'COMPLAINT NUMBER', 'SECTION', 'SUB-DIVISION',
       'DIVISION', 'CIRCLE', 'COMPLAINT TYPE', 'CONSUMER NUMBER',
       'MOBILE NUMB', 'DEPT', 'CLOSED/OPEN', 'REMARKS', 'TWEET-LINK',
       'COMPLAINANT NAME', 'COMPLAINT RECEIVED TIME', 'RESPONSE TIME',
       'SECOND RESPONSE TIME', 'FINAL RESPONSE TIME',
       'FINAL RESPONSE DATE DD/MM/YYYY'],
      dtype='object')

In [5]:
df.isnull().sum()

SL.NO                                 0
DATE                                  0
SHIFT DUTY                        24885
QUERY/REQUEST/COMPLAINT           29336
COMPLAINT DETAILS                     0
COMPLAINT NUMBER                  24336
SECTION                           10591
SUB-DIVISION                       7650
DIVISION                           7302
CIRCLE                             7392
COMPLAINT TYPE                        0
CONSUMER NUMBER                   22374
MOBILE NUMB                       27393
DEPT                                  0
CLOSED/OPEN                           0
REMARKS                              55
TWEET-LINK                            0
COMPLAINANT NAME                    586
COMPLAINT RECEIVED TIME             557
RESPONSE TIME                       610
SECOND RESPONSE TIME              23321
FINAL RESPONSE TIME               20133
FINAL RESPONSE DATE DD/MM/YYYY    19908
dtype: int64

In [8]:
df['SHIFT DUTY'].value_counts()

SHIFT DUTY
A    3424
B    2699
C    1483
Name: count, dtype: int64

In [10]:
df['COMPLAINT NUMBER'].value_counts().sum()

np.int64(8155)

In [12]:
df['QUERY/REQUEST/COMPLAINT'].value_counts()

QUERY/REQUEST/COMPLAINT
Complaint    1705
Query        1404
Request        46
Name: count, dtype: int64

In [21]:
df['SECTION'].value_counts()[df['SECTION'].value_counts() >= 3]

SECTION
AINTHAPALI      910
SINAPALI        663
UTKELA          490
RAIRAKHOL       416
CHHATAMAKHNA    396
               ...
MAIN ROAD         6
SOHELA-2          6
PARMANPUR         4
SAHASPUR          4
KINJIRKELA        4
Name: count, Length: 202, dtype: int64

In [23]:
df['SUB-DIVISION'].value_counts()[df['SUB-DIVISION'].value_counts()>=2]

SUB-DIVISION
SDO-1, AINTHAPALI    1670
KHARIAR              1341
NARLA                1108
KESINGA               962
RAIRAKHOL             914
                     ...
                        8
HEMGIRI                 8
Patnagarh               2
Kuarmunda               2
Padampur                2
Name: count, Length: 62, dtype: int64

In [24]:
df.columns

Index(['SL.NO', 'DATE', 'SHIFT DUTY', 'QUERY/REQUEST/COMPLAINT',
       'COMPLAINT DETAILS', 'COMPLAINT NUMBER', 'SECTION', 'SUB-DIVISION',
       'DIVISION', 'CIRCLE', 'COMPLAINT TYPE', 'CONSUMER NUMBER',
       'MOBILE NUMB', 'DEPT', 'CLOSED/OPEN', 'REMARKS', 'TWEET-LINK',
       'COMPLAINANT NAME', 'COMPLAINT RECEIVED TIME', 'RESPONSE TIME',
       'SECOND RESPONSE TIME', 'FINAL RESPONSE TIME',
       'FINAL RESPONSE DATE DD/MM/YYYY'],
      dtype='object')

In [25]:
df['DIVISION'].value_counts()

DIVISION
SAMBALPUR         2669
BOLANGIR          2519
KEED              2457
TITLAGARH         2383
BARGARH           2230
SAMBALPUR-E       2147
NUAPADA           1878
BARGARH(W)        1549
JHARSUGUDA        1445
SONEPUR           1291
KWED              1097
ROURKELA-SADAR     917
DEOGARH            706
SUNDERGARH         598
ROURKELA           524
RAJGANGPUR         494
BRAJRAJNAGAR       271
                     7
BRAJARAJNAGAR        5
SAMBALPUR            1
BOLANGIR-1           1
Name: count, dtype: int64

In [26]:
df['CIRCLE'].value_counts()

CIRCLE
SAMBALPUR    7190
BOLANGIR     6185
KALAHANDI    5411
BARGARH      3769
ROURKELA     2538
                6
Name: count, dtype: int64

In [27]:
df['CONSUMER NUMBER'].value_counts().sum()

np.int64(10117)

In [30]:
df['MOBILE NUMB'].value_counts().sum()

np.int64(5098)

In [6]:
df['DEPT'].value_counts()

DEPT
O&M           25890
Other          4425
Commercial     2176
Name: count, dtype: int64

In [7]:
df['CLOSED/OPEN'].value_counts()

CLOSED/OPEN
Closed    32189
Open        301
closed        1
Name: count, dtype: int64

In [35]:
df['COMPLAINANT NAME'].value_counts()[df['COMPLAINANT NAME'].value_counts() >= 10]

COMPLAINANT NAME
Mr. RAJESH KUMAR BAGARTI    189
Mr.RAJESH KUMAR BAGARTI     177
Mr. Deepak Kumar Sarangi    164
Mr. Bikramkesh4707          150
Mr. JYOTIRANJAN PADHAN      148
                           ...
Mr. khagendra Bhoi           10
Mr. DIBYA DASH               10
Mr. @BaitaliGUPS             10
Mr. satya                    10
Mr. GuruRS6                  10
Name: count, Length: 597, dtype: int64

In [28]:
df.columns

Index(['SL.NO', 'DATE', 'SHIFT DUTY', 'QUERY/REQUEST/COMPLAINT',
       'COMPLAINT DETAILS', 'COMPLAINT NUMBER', 'SECTION', 'SUB-DIVISION',
       'DIVISION', 'CIRCLE', 'COMPLAINT TYPE', 'CONSUMER NUMBER',
       'MOBILE NUMB', 'DEPT', 'CLOSED/OPEN', 'REMARKS', 'TWEET-LINK',
       'COMPLAINANT NAME', 'COMPLAINT RECEIVED TIME', 'RESPONSE TIME',
       'SECOND RESPONSE TIME', 'FINAL RESPONSE TIME',
       'FINAL RESPONSE DATE DD/MM/YYYY'],
      dtype='object')